## IMPORTING THE REQUIRED LIBRARIES

In [13]:
import pandas as pd
from sklearn import preprocessing
from sklearn.naive_bayes import *
from sklearn.metrics import accuracy_score,confusion_matrix

In [14]:
data = pd.read_csv('train.csv')

In [15]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## DATA CLEANING

In [16]:
# REMOVING UNREQUIRED COLUMNS
data1 = data.drop(['PassengerId','Ticket','Cabin','Name'],axis=1)

## ENCODING THE COLUMNS

In [17]:
lr=preprocessing.LabelEncoder()

In [18]:
data1.Sex = lr.fit_transform(data1.Sex)

In [19]:
data1.Embarked = lr.fit_transform(data1.Embarked)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
# NAMES OF THE COLUMNS
a = ['Survived','Pclass','Sex','SibSp','Parch','Embarked']

In [22]:
# DEFINING THE FUNCTION FOR NAIVE BAYES
def nb(col):
    y=data1[col]
    x=data1.drop([col],axis=1)
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=2)
    clf=BernoulliNB()
    y_pred = clf.fit(x_train,y_train).predict(x_test)
    print('The Accuracy score is :-',accuracy_score(y_test,y_pred,normalize=True))
    print('-------------------------------------')
    print('The Confusion matrix is :- \n',confusion_matrix(y_test,y_pred))

In [23]:
nb('Survived')

The Accuracy score is :- 0.8116591928251121
-------------------------------------
The Confusion matrix is :-
 [[123  20]
 [ 22  58]]

In [24]:
for i in a:
    print(i)
    print('================================================')
    nb(i)
    print()
    print('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>')

Survived
================================================
The Accuracy score is :- 0.8116591928251121
-------------------------------------
The Confusion matrix is :-
 [[123  20]
 [ 22  58]]

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Pclass
================================================
The Accuracy score is :- 0.5067264573991032
-------------------------------------
The Confusion matrix is :-
 [[13  3 36]
 [10  3 47]
 [12  2 97]]

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Sex
================================================
The Accuracy score is :- 0.8161434977578476
-------------------------------------
The Confusion matrix is :-
 [[ 58  19]
 [ 22 124]]

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SibSp
================================================
The Accuracy score is :- 0.6860986547085202
-------------------------------------
The Confusion matrix is :-
 [[141  16   0   0   0   0   0]
 [ 31  12   0   0   0   0   0]
 [  4   7   0   0   0   0   0]
 [  4   3   0   0   0   0   0]
 [  0   1   0   0   0   0   0]
 [  0   1   0   0   0   0   0]
 [  1   2   0   0   0   0   0]]

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Parch
================================================
The Accuracy score is :- 0.7488789237668162
-------------------------------------
The Confusion matrix is :-
 [[159  12   0   0   0]
 [ 19   8   0   0   0]
 [ 18   5   0   0   0]
 [  0   1   0   0   0]
 [  1   0   0   0   0]]

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Embarked
================================================
The Accuracy score is :- 0.8071748878923767
-------------------------------------
The Confusion matrix is :-
 [[  0   0  31]
 [  0   0  12]
 [  0   0 180]]

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>