## IMPORTING REQUIRED PACKAGES

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [3]:
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
data = data.rename(columns = {'Personal Loan':'Personal_Loan','Securities Account':'Securities_Account','CD Account':'CD_Account','ZIP Code':'ZIP_Code'})
data.head()

,ID,Age,Experience,Income,ZIP_Code,Family,CCAvg,Education,Mortgage,Personal_Loan,Securities_Account,CD_Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [6]:
data.drop(['ID','ZIP_Code'],axis=1,inplace=True)

In [7]:
data.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal_Loan,Securities_Account,CD_Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [9]:
rf_model = RandomForestClassifier()

In [16]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [17]:
x = data.drop(['Personal_Loan'],axis=1)
x.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities_Account,CD_Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,1,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1

In [18]:
y = data.Personal_Loan
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Personal_Loan, dtype: int64

In [19]:
rf_model.fit(X=x,y=y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
print('OOB ACCURACY')
print(rf_model.oob_score_);

OOB ACCURACY
0.9876

In [25]:
for feature,imp in zip(x,rf_model.feature_importances_):
    print(feature,imp)

Age 0.04478023423227935
Experience 0.04484624127139226
Income 0.3485797782987038
Family 0.09625157665828556
CCAvg 0.18279425936337784
Education 0.16046429490943256
Mortgage 0.04398106949509871
Securities_Account 0.0055911915876259485
CD_Account 0.05444590061546807
Online 0.008433698811424632
CreditCard 0.00983175475691118

## Important Features
- Income
- CCAvg
- Education

## Developing decision tree model with these Important Features

In [26]:
tree_model = tree.DecisionTreeClassifier()

In [42]:
x = data.drop(['Age','Experience','Family','Mortgage','Personal_Loan','Securities_Account','CD_Account','Online','CreditCard'],axis=1)

In [43]:
x.head()

   Income  CCAvg  Education
0      49    1.6          1
1      34    1.5          1
2      11    1.0          1
3     100    2.7          2
4      45    1.0          2

In [34]:
y = data.Personal_Loan

In [44]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)
tree_model.fit(X=x,y=y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [45]:
with open('Dtree_Bank_Loan.dot','w')as f:
    f=tree.export_graphviz(tree_model,feature_names=['Income','CCAvg','Education'],out_file=f);